body {
    min-width: 666px;
    background-color: #686D76;
}

nav a {
    text-decoration: none;
    color: black;
}
nav a:hover {
    color: blue;
}
ul {
    font-size: 200%;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    background-color: whitesmoke;
    border: 2px black solid;
    border-radius: 5px;
    padding-left: 25%;
    padding-right: 25%;
    margin: 2px;
}
li {
    list-style: none;
}

#banner {
    border-radius: 7px;
    font-size: 500%;
    text-align: center;
    margin: auto;
    background-color: whitesmoke;
    border: 2px black solid;
}
.contact {
    border-radius: 7px;
    font-size: 200%;
    text-align: center;
    margin: auto;
    background-color: whitesmoke;
    border: 2px black solid;
}
pre {
    margin: 10px 0px 0px 10px;
    text-align: left;
}

#home-body {
    background: whitesmoke;
    padding: 10px;
    border: 2px black solid;
    border-radius: 7px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-family: "Lora", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 150%;
}
#body-head {
    font-family:"Bebas Neue", sans-serif;
    font-style: normal;
    font-size: 250%;
    text-align: center;
    margin: auto;
}
